.cart-widget {
    color: #fff;
    position: relative;
}

.cart-widget-link {
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 999;
}
.cart-widget-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
}
.cart-widget-number{
    position: absolute;
    color: #26a69a;
    z-index: 9999;
    top: -5px;
    font-weight: 900;
    left: 23px;
}