.nav-wrapper {
 display: flex;
 justify-content: space-evenly;
}

nav .brand-logo {
    position: relative!important;
    left: unset!important;
    transform: unset!important;
}
/* cambio en el archivo css */