/* .brand-logo {
    display: block;
    width: 100%;
    text-align: center;
} */

/* .nav-links {
    display: block;
} */

.nav-links {
    overflow: auto;
    white-space: nowrap;
    margin: 5px 0;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0;
}
.nav-link {
    float: none;
    display: inline-block;
    margin: 0 10px;
    padding: 0!important;
}
.nav-link a {
    padding: 0 10px;
}
.nav-link a:hover {
    background-color: rgb(0, 0, 0, 0.5);
}
.nav-link i.material-icons {
    line-height: inherit;
    height: inherit;
}
.logo {
    line-height: normal;
}