/* .brand-logo {
    display: block;
    width: 100%;
    text-align: center;
} */

/* .nav-links {
    display: block;
} */

.nav-links {
    overflow: auto;
    white-space: nowrap;

}
.nav-link {
    float: none;
    display: inline-block;
}
.logo {
    line-height: normal;
}