.item-count {
    margin: 5px 0;
}

.item-count .btn {
    line-height: inherit;
    height: auto;
    /* height: 20px; */
    /* width: 20px; */
    padding: 5px;
}
.btn-add {
    margin-left: 20px;
}
.btn-remove {
    margin-right: 20px;
}